/vendor/
/assets/uploads/*
!/assets/uploads/empty-placeholder.png
!/assets/uploads/ava_*
!/assets/uploads/chat/
!/assets/uploads/comments/
*.sql
.DS_Store
credentials.json
credentials.json.json
credentials.json*
error_log
logs/